@using FD_CPTP_UNIFIED
@{
    string CDNRootPath = Startup.Configuration["AppCssCDNPath"].ToString();
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles{
    <link rel="stylesheet" type="text/css" href="@String.Concat(CDNRootPath,"lib/DataTable/jquery-dataTables.min.css")" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="@String.Concat(CDNRootPath,"css/font-awesome.min.css")" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="@String.Concat(CDNRootPath,"lib/datepicker/datepicker3.min.css")" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="@String.Concat(CDNRootPath,"css/tab2.css")" asp-append-version="true" />

    <link href="~/DataEntry/css/CustmCss3.css" asp-append-version="true" rel="stylesheet" />

}

<style>
    .form-group {
        margin-bottom: 5px;
    }

    .table.table-default > tbody > tr > td,
    .table.table-default > tbody > tr > th,
    .table.table-default > tfoot > tr > td,
    .table.table-default > tfoot > tr > th {
        font-size: 12px;
    }

    .table.table-default > thead > tr > td,
    .table.table-default > thead > tr > th {
        font-size: 12px;
    }

    .content-wrapper {
        padding-top: 50px;
    }

    .comnBtn {
        min-width: 62px;
    }

    .dataTables_filter {
        margin-bottom: 2px;
    }
</style>


<div class="container" id="MainDiv" style="margin-top:40px">

    @* Search Pannel *@
    <div class="panelCustm" id="SearchPanel">
        <div class="panel-heading panel-headingNW panelHeadingPosRel" style="margin-bottom: 0;">
            <label>
                Pay In Slip
            </label>
            <a class="ClsBackToDash" href="Default">
                <i class="fa fa-home" aria-hidden="true"></i> Back To Dashboard
            </a>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 15px;border: 1px solid #E31837;">

            <ul class="tabs">
                <li><a name="#tab2Tab1">Pay In Slip Entry</a></li>
                <li><a name="#tab2Tab2">Pay In Slip Generation</a></li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="tab_content">
                        <div id="tab2Tab1">
                            <div class="row1" id="">
                                <div class="col-md-4 col-sm-4 col-xs-12 InpOutrCls" id="divfdquickentry">
                                    <div class="form-group FormGrpCustm">
                                        <label class="control-label">CMS Bank<span class="red-text">*</span></label>
                                        <select class="form-control required" id="ddlBankName"></select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12 InpOutrCls">
                                    <div class="form-group FormGrpCustm">
                                        <label class="control-label">CPTP Location<span class="red-text">*</span></label>
                                        <select class="form-control required" id="ddlBranchName"></select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12 InpOutrCls">
                                    <div class="form-group FormGrpCustm">
                                        <label class="control-label">HDFC Bank CMS Branch<span class="red-text">*</span></label>
                                        <select class="form-control required" id="ddlStateName"></select>
                                    </div>
                                    <a class="AncSelectBtn1" id="lnkCMSBranchSearch" data-toggle="modal" data-target="#ModelCMSBranchSearch">Search other HDFC Branch</a>
                                </div>

                            </div>
                            <div class="panelCustm" id="divGetDetails" style="display:none;padding: 10px 0 0 0;">
                                <div class="row1">
                                    <span class="" id="LblNumberOfEntry" style="/*display:none*/color: #333;font-size: 14px;/*! text-decoration: underline; */font-weight: 600;margin-bottom: 5px;display: inline-block;/*! float: right; */border: 1px solid #000;padding: 0px 5px;">Total Count: <span id="payinslipTotalcount">0</span> Selected Count: <span id="payinslipcount">0</span></span>
                                    <div style="clear:both;"></div>
                                    <div class="table coman_table_head table-responsive">
                                        <table id="tblStaging" class="table table-default">
                                            <thead>
                                                <tr>
                                                    <th scope="col">
                                                        <input id="chkAddSelectAll" type="checkbox" name="AddSelectAll">
                                                        <label for="chkAddSelectAll">Select All</label>

                                                    </th>

                                                    <th>Application Type</th>
                                                    <th>Applicant Name</th>
                                                    <th>Applicant Number</th>
                                                    <th>FO Entry Date</th>
                                                    <th>Cheque Number</th>
                                                    <th>Cheque Date </th>
                                                    <th>Cheque Amount</th>
                                                    <th>Drawn Bank Name</th>
                                                    <th>Drawn Branch Name</th>
                                                    <th>Drawn IFSC Code</th>
                                                    <th>Drawn MICR Code</th>
                                                    <th>Remark</th>



                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center" style="/*! display:none; */padding: 0 0 5px 0;">
                                    <button type="button" id="btnSaveEntry" class="comnBtn">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="button" id="btnCancelEntry" class="comnBtn">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <div id="tab2Tab2">
                            <div class="row1" id="">
                                <div class="col-md-4 col-sm-4 col-xs-12 InpOutrCls" id="divfdquickentry">
                                    <div class="form-group FormGrpCustm">
                                        <label class="control-label">CMS Bank<span class="red-text">*</span></label>
                                        <select class="form-control required" name="Tenure" id="ddlBankNameGen"></select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12 InpOutrCls">
                                    <div class="form-group FormGrpCustm">
                                        <label class="control-label">CPTP Location<span class="red-text">*</span></label>
                                        <select class="form-control required" name="Tenure" id="ddlBranchNameGen"></select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12 InpOutrCls">
                                    <div class="form-group FormGrpCustm">
                                        <label class="control-label">HDFC Bank CMS Branch<span class="red-text">*</span></label>
                                        <select class="form-control required" name="Tenure" id="ddlStateNameGen"></select>
                                    </div>
                                    <a class="AncSelectBtn1" id="lnkCMSBranchSearchGen" data-toggle="modal" data-target="#ModelCMSBranchSearchGen">Search other HDFC Branch</a>
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12 InpOutrCls">
                                    <div class="form-group FormGrpCustm SearchDate" id="">
                                        <label class="control-label">From Date</label>
                                        <input name="txtDob" type="text" id="txtStartDateGen" autocomplete="off" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12 InpOutrCls" id="trenddate">
                                    <div class="form-group FormGrpCustm SearchDate" id="">
                                        <label class="control-label">To Date</label>
                                        <input name="EndDate" type="text" id="txtEndDateGen" autocomplete="off" class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-3 col-xs-12 InpOutrCls">
                                    <button type="button" id="btnSearchGen" class="comnBtn">Search</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="button" id="btnClearGen" class="comnBtn">Clear</button>
                                </div>
                            </div>
                            <div class="panelCustm" id="divGetDetailsGen" style="display:none;padding: 10px 0 0 0;">
                                <div class="row1">
                                    <div class="table coman_table_head table-responsive">
                                        <table id="tblStagingGen" class="table table-default">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Select
                                                    </th>
                                                    <th style="display:none"></th>
                                                    <th style="display:none"></th>
                                                    <th style="display:none"></th>
                                                    <th style="display:none"></th>
                                                    <th style="display:none"></th>
                                                    <th style="display:none"></th>
                                                    <th style="display:none"></th>
                                                    <th style="display:none"></th>
                                                    <th style="display:none"></th>
                                                    <th style="display:none"></th>
                                                    <th style="display:none"></th>
                                                    <th style="display:none"></th>
                                                    <th style="display:none"></th>
                                                    <th style="display:none"></th>
                                                    <th style="display:none"></th>
                                                    <th style="display:none"></th>
                                                    <th style="display:none"></th>
                                                    <th style="display:none"></th>
                                                    <th style="display:none"></th>
                                                    <th style="display:none"></th>
                                                    <th style="display:none"></th>
                                                    <th style="display:none"></th>
                                                    <th style="display:none"></th>
                                                    <th style="display:none"></th>

                                                    <th>Payinslip No</th>
                                                    <th>PayinSlip Generated Date</th>
                                                    <th>Generated by </th>
                                                    <th>Count</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <br />
                                    <div class="row" style="text-align:center;">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <button type="button" name="btnSearch" id="btnGenerate" class="btn btn-red">Generate</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @* -----generation results start ---- *@


    <div class="panelCustm" id="divGetDetails1" style="display:none;padding: 10px 0 0 0;">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div id="dvStaging1" class="table coman_table_head table-responsive">
                <table id="tblClientDtl" class="table table-default" style="border:1px solid black;border-collapse:collapse;width:300px">
                    <thead>
                        <tr style="border:1px solid #000;">
                            <th>Client ID</th>
                            <th>Client Name</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <table id="tblStaging1" class="table table-default" style="border:1px solid black;border-collapse:collapse; width:100%;">
                    <thead>
                        <tr style="border:1px solid #000;">

                            <th>SR NO</th>
                            <th><span id="spClientCode">(MF99FCAMSK)</span>PAY IN SLIP NO</th>
                            <th>Entry Date</th>
                            <th>Pick Up Date</th>
                            <th>Branch</th>
                            <th>Appl No</th>
                            <th>Applicant Name</th>
                            <th>Amount</th>
                            <th>Cheque No</th>
                            <th>Bank</th>
                            <th>PAYIN SLIP BATCH NO</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>


            </div>
        </div>
    </div>

    <div class="panelCustm" id="divGetDetails2" style="display:none;padding: 10px 0 0 0;">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="table coman_table_head table-responsive">
                <table id="tblStaging2" class="table table-default">
                    <thead>
                        <tr>

                            <th>Dep slip</th>
                            <th>P/up</th>
                            <th>Amount</th>
                            <th>Chqno</th>
                            <th>Chq dt</th>
                            <th>Bk code</th>
                            <th>B-brn</th>
                            <th>Client code</th>
                            <th>Drw_name</th>
                            <th>Loc_code</th>
                            <th>ORG_BRN</th>
                            <th>CLIENT ARR</th>
                            <th>PRODUCT</th>
                            <th>DESP_BK</th>
                            <th>ACTV DT</th>
                            <th>CLIENT TYPE</th>
                            <th>Enrichment1</th>
                            <th>Enrichment 2</th>


                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>


        </div>
    </div>
    @* -----generation results end ---- *@

</div>

@{await Html.RenderPartialAsync("~/Views/Partial_View/_Modal_CMS_LOC_Search.cshtml");}
@{await Html.RenderPartialAsync("~/Views/Partial_View/_Modal_CMS_LOC_Search_Gen.cshtml");}

@section Scripts{
    <script type="text/javascript" src="@String.Concat(CDNRootPath,"lib/table2Excel/jquery-table2excel.min.js")" asp-append-version="true"></script>
    <script type="text/javascript" src="@String.Concat(CDNRootPath,"lib/table2Pdf/JSPDF1.js")" asp-append-version="true"></script>
    <script type="text/javascript" src="@String.Concat(CDNRootPath,"lib/table2Pdf/jspdf-plugin-autotable.js")" asp-append-version="true"></script>
    <script type="text/javascript" src="@String.Concat(CDNRootPath,"lib/DataTable/jquery-dataTables.min.js")" asp-append-version="true"></script>
    <script type="text/javascript" src="@String.Concat(CDNRootPath,"lib/datepicker/bootstrap-datepicker.min.js")" asp-append-version="true"></script>
    <script type="text/javascript" src="@String.Concat(CDNRootPath,"js/tab2.js")" asp-append-version="true"></script>
    
    <script src="~/PayinSlipEntry/PayinSlip.min.js" asp-append-version="true"></script>

}

